.movies-card-list {
  max-width: 1280px; 
  padding: 70px 70px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.movies-card-list__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 360px));
  gap: 32px 28px;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.movies-card-list__more-button {
  border: 1px solid #E8E8E8;
  background: #FFFFFF;
  border-radius: 6px;
  width: 320px;
  height: 36px;
  padding: 0;
  margin: 50px auto 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.movies-card-list__more-button_visible {
  display: block;
}

.movies-card-list__more-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 905px) {
  .movies-card-list {
    padding: 70px 30px 0;
  }
  
  .movies-card-list__list {
    grid-template-columns: repeat(auto-fill, minmax(342px, 342px));
    gap: 35px 24px;
    justify-content: center;
  }
}

@media screen and (max-width: 530px) {
  .movies-card-list {
    padding: 40px 10px 0;
  }

  .movies-card-list__more-button {
    width: 240px;
    height: 36px;
  }
}

@media screen and (max-width: 530px) {
  .movies-card-list {
    min-width: 320px;
  }
}
