.promo {
  background: #5C5C5C;
  color: #FFFFFF;
  min-height: 574px;
}

.promo__content{
  margin: 0 auto;
  padding: 75px 70px 0;
  max-width: 1280px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.promo__title {
  width: 640px;
  font-family: "Inter";
  font-size: 50px;
  font-weight: 400;
  line-height: calc(58/50);
  margin: 0;
  padding: 0;
}

.promo__help-text {
  width: 310px;
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: calc(16/13);
  margin: 36px 0 0;
  padding: 0;
}

.promo__image {
  margin: 0 0 145px;
  padding: 0;
  box-sizing: border-box;
}

.promo__more-info-button {
  background: #5C5C5C;
  color: #FFFFFF;
  border: 1px solid #ffffff;
  font-family: "Inter";
  font-size: 12px;
  font-weight: 500;
  line-height: calc(16/12);
  margin: 146px 0 0;
  padding: 10px 20px;
}