.header {
  width: 100%;
  min-width: 320px;
  height: 74px;
  box-sizing: border-box;
}

.header_landing {
  background: #5C5C5C;
}

.header__content {
  margin: 0 auto;
  padding: 0 70px 0 70px;
  max-width: 1280px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 18px 0;
}