.about-me {
  color: #000000;
  background: #FFFFFF;
}

.about-me__content {
  margin: 0 auto;
  padding: 110px 70px 0;
  max-width: 1280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-me__title {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 22px;
  font-weight: 400;
  line-height: calc(27/22);
}

.about-me__container {
  width: 100%;
  margin: 23px 0 0 0;
  padding: 66px 0 0;
  display: flex;
  border-top: 1px solid #000000;
  justify-content: space-between;
  gap: 270px;
}

.about-me_description-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.about-me__name {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-size: 50px;
  font-weight: 400;
  line-height: calc(58/50);
}

.about-me__short-description {
  margin: 18px 0 0;
  padding: 0;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: calc(22/14);
}
.about-me__description {
  margin: 26px 0 0;
  padding: 0;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: calc(20/18);
}
.about-me__github-link {
  text-decoration: none;
  margin: 99px 0 0;
  padding: 0;
  color: #000000;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: calc(17/14);
}
.about-me__photo {
  width: 270px;
  border-radius: 10px;
}

@media screen and (max-width: 1040px) {
  .about-me__container {
    gap: 49px;
  }
}

@media screen and (max-width: 870px) {
  .about-me__container {
    gap: 49px;
  }
  .about-me__name {
    font-size: 40px;
    line-height: calc(40/40);
  }
  .about-me__short-description {
    font-size: 12px;
    line-height: calc(18/12);
    margin: 16px 0;
  }
  .about-me__description {
    margin: 20px 0 0;
    font-size: 12px;
    line-height: calc(18/12);
  }
  .about-me__github-link {
    margin: 87px 0 0;
  }
  .about-me__photo {
    width: 255px;
  }
}

@media screen and (max-width: 768px) {
  .about-me__content {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 670px) {
  .about-me__content {
    padding: 70px 14px;
    min-width: 320px;
  }
}

@media screen and (max-width: 590px) {
  .about-me__title {
    font-size: 18px;
    line-height: calc(22/18);
  }
  .about-me__container {
    width: 100%;
    margin: 28px 0 0 0;
    padding: 60px 0 0;
    display: flex;
    border-top: 1px solid #000000;
    flex-direction: column-reverse;
  }
  .about-me__name {
    font-size: 30px;
    line-height: calc(36/30);
  }
  .about-me__short-description {
    font-size: 11px;
    line-height: calc(16/11);
    margin: 20px 0;
  }
  .about-me__description {
    margin: 0;
    font-size: 11px;
    line-height: calc(16/11);
  }
  .about-me__github-link {
    margin: 40px 0 0;
  }
  .about-me__photo {
    align-self: center;
    width: 100%;
  }
}
